@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s ease all;
}

html {
    font-size: 18px;
    font-family: "Mulish", sans-serif;
}

header {
    background-color: black;
    padding: 55px;
    padding-bottom: 0;
}

nav.menu {
    display: flex;
    align-items: center;
}

nav.menu a {
    text-decoration: none;
    color: white;
    transition: 300ms;
}

.nav.menu a:hover {
    color: #262e54;
}

a.menu_logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    text-indent: 10px;
}

.welcome_image {
    max-width: 140px;
}

.menu_link,
.menu_link-active {
    padding: 10px;
    margin: 10px;
}

.menu_link-active {
    font-weight: bold;
}

.welcome {
    padding: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.welcome_text {
    max-width: 450px;
    margin-bottom: 120px;
}

.welcome_header {
    font-size: 48px;
    margin-bottom: 20px;
    margin-bottom: 120px;
}

.welcome_button {
    margin-top: 20px;
    display: inline-block;
    padding: 20px 60px;
    background-color: #262e54;
    color: #fff;
    border-radius: 55px;
    margin-bottom: 120px;
}

.welcome-image {
    max-width: 500px;
}

.welcome_button:hover {
    background-color: #fff;
    color: #262e54;
    box-shadow: 0 0 25px 0 #262e54;
}

.our_services {
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262e54;
    position: relative;
    width: 100%;
    margin-bottom: 120px;
}

.our_services h1 {
    color: white;
}

.ttitle {
    color: white;
}

.our_services p {
    color: #262e54;
    font-weight: 300;
    font-size: 16px;
}

.our_services_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
}

.our_services h4 {
    color: white;
}

.our_services_top h1 {
    padding: 20px;
    margin: 20px;
    border-bottom: 2px solid #333;
}

.our_services_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.service_card {
    height: 600px;
    width: 350px;
    padding: 40px;
    margin: 35px;
    box-shadow: 10px 10px 10px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 120px;
}

.service_card h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-bottom: 60px;
}

.service_card img {
    margin-bottom: 20px;
}

.img-outreach {
    max-width: 200px;
}

.more-btn {
    justify-content: center;
    padding: 20px 50px;
    border-radius: 55px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    margin-top: 37px;
    transition: 300ms;
}

.our_service_button {
    margin: 120px;
}

.more-btn img {
    margin-left: 10px;
}

.more-btn:hover {
    background-color: white;
    color: #262e54;
}

.info,
.download {
    padding: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}

.info_img,
.download_image {
    max-width: 500px;
}

.info_text,
.download_text {
    max-width: 450px;
}

.info_text h1,
.download_text h1 {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
}

.latest_articles {
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.la_top {
    text-align: center;
    max-width: fit-content;
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 40px;
}

.la_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.article_card {
    width: 350px;
    border-radius: 20px;
    margin: 33px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.article_card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.article_card_text {
    padding: 33px;
}

.article_card_text h3 {
    margin-bottom: 20px;
}

.article_card_text p {
    font-size: 16px;
    font-weight: 300;
}

.article_link {
    margin-top: 20px;
    display: inline-block;
    color: #458ff6;
    text-decoration: none;
}

.article_link img {
    margin-left: 10px;
}

.video {
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.video_top h1 {
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 40px;
}

.video_content iframe {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    min-width: 800px;
    min-height: 450px;
}

.pricing {
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

.pricing_top {
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 40px
}

.pricing_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.pricing_card {
    padding: 40px;
    margin: 35px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.pricing_card p {
    font-size: 16px;
    font-weight: 300;
    color: #777;
}

.pricing_number {
    font-size: 48px;
    font-weight: 700;
}

.pricing_card ul {
    margin: 10px;
    margin-left: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
}

.pricing_card .more-btn {
    margin-top: 10px;
}

.premium_card {
    border: 1px solid #fb9bd2;
}

.premium_card ul li img {
    margin-right: 10px;
}

.premium-btn {
    padding: 20px 60px;
    display: inline-block;
    border-radius: 55px;
    text-decoration: none;
    font-weight: 700;
    color: #fb9bd2;
    border: 1px solid #fb9bd2;
    box-shadow: 0px 0px 20px 1px rgba(251, 155, 210, 0.15);
    margin-top: 15px;
    cursor: pointer;
    transition: 300ms;
}

.premium-btn:hover {
    background-color: #fb9bd2;
    color: #fff;
}

.contact {
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_top {
    border-radius: 2px solid #333;
    padding: 20px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(251, 155, 210, 0.15);
}

.input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_group label {

    width: 300px;
    height: 50px;
    font-size: 16px;
    color: #458ff6;
    padding: 10px 0;
    padding-top: 30px;
}

.input_group input {

    width: 300px;
    height: 50px;
    padding: 10px;
    font-family: "Mulish", sans-serif;
    font-size: 10px;
    border-radius: 6px;
    border: 1px solid #458ff6;
}

.input_group input::placeholder {
    color: #999;
}


.input_group button[type="submit"] {
    margin: 30px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fb9bd2;
    border: 1px solid #fb9bd2;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: 300ms;

    display: flex;
    align-items: center;
}

.input_group button[type="submit"] img {
    margin-left: 10px;
}

.input_group button[type="submit"]:hover {
    background-color: #fff;
    color: #fb9bd2;
}

footer {
    padding: 55px;
    background: linear-gradient(180deg, #67c3f3 0%, #5a98f2 80%);
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.footer_logo {
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.footer_left p {
    margin: 30px 0;
}

.footer_right {
    display: flex;
}

.footer_list {
    padding: 10px;
    margin: 10px;
}

.footer_list p {
    font-weight: bold;
    padding: 20px 0;
}

.footer_list ul {
    list-style: none;
}

.footer_list ul li a {
    color: #fff;
    display: block;
    padding: 15px 20px;
    padding-left: 0;
    text-decoration: none;
}

.footer_list ul li a:hover {
    text-decoration: underline;
}

.header-bars {
    display: none;
}

.mobile-logo {
    display: none;
}

button {
    cursor: pointer;
}

.primary:hover {
    background-color: #3366cc;
    box-shadow: 0 0 25px 0 #999;
}

.default:hover {
    border: 1px solid #0099cc;
}

a:hover {
    font-weight: 700;
}

.article_link:hover {
    font-size: 100;
}

.play-button:hover {
    transform: scale(1.1);
}

.input-button:hover {
    box-shadow: 0 0 25px 0;
}

.service_card:hover {
    transform: scale(1.1);
}

/*adaptation*/

@media (max-width: 768px) {

    header,
    .welcome,
    .info,
    .our_services,
    .download,
    .video,
    .pricing,
    .contact {
        padding: 30px;
        margin-bottom: 60px;
    }

    nav.menu {
        margin: auto;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
    }

    nav.menu a {
        margin: 5px 0px;
        padding: 15px 40px;
        border: 1px solid #458ff6;
        border-radius: 55px;
        width: 100%;
    }

    nav.menu a:first-child {
        border: none;
    }

    .welcome {
        flex-direction: column;
    }

    .welcome_image {
        max-width: 100%;
    }

    .info,
    .download {
        flex-direction: column-reverse;
    }

    .info_img,
    .download_image {
        max-width: 100%;
    }

    .video_content iframe {
        min-width: 300px;
        min-height: 280px;
    }

    .contact_form {
        padding: 20x 20px;
    }

    footer {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .welcome_image {
        align-items: center;
    }

    a.menu_link,
    a.menu_link-active {
        display: none;
    }

    .service_card,
    .article_card {
        width: 300px;
    }

    .article_card img {
        max-width: 100%;
    }

    .footer_right {
        flex-direction: column;
    }

    .header-bars {
        display: block;
    }
}

@media (max-width: 720px) {
    nav {
        display: none;
    }

    .inner {
        padding: 35px;
    }

    .cards_row {
        flex-direction: column;
        text-align: center;
    }

    .card {
        margin-bottom: 25px;
    }

    .project {
        flex-direction: column;
    }

    .project img {
        width: 100%;
    }

    .project-text {
        width: auto;
    }

    .welcome-flex {
        flex-direction: column;
    }

    .welcome-text {
        max-width: 100%;
        text-align: center;
    }

    #welcome h1 {
        font-size: 1.75rem;
    }

    .card-text h1 {
        font-size: 1.25rem;
    }

    .video-element {
        width: 100%;
    }

    .project-text h1 {
        font-size: 1.5rem;
    }

    .contact-container {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .description {
        width: 100%;
    }

    .links {
        display: none;
    }

    .header-bars {
        display: block;
    }

    .mobile-logo {
        display: inline-block;
    }

    .web-logo {
        display: none;
    }
}